<!DOCTYPE html>
<html lang="en">
<body class="animsition">
    <%- include('sidebar'); %>
        <div class="page-container">
            <div class="main-content">                
                    <div class="container-fluid">
                                <div class="table-data__tool-right" align="right">
                                    <a href="addtenant"><button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                        <i class="zmdi zmdi-plus"></i>add members</button></a>
                                </div>
                                
                                <br>
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr>
                                                <th>sr no</th>
                                                <th>Name</th>
                                                <th>House no.</th>
                                                <th class="text-right">Tenant/Owner</th>
                                                <th class="text-right">People count</th>
                                                <th>BHK</th>
                                            </tr>
                                        </thead>
                                         <tbody>
                                            <%%>
                                            <a href="#">
                                                <tr>
                                                    <td>1</td>
                                                    <td>100398</td>
                                                    <td>iPhone</td>
                                                    <td class="text-right">$999.00</td>
                                                    <td class="text-right">1</td>
                                                    <td class="text-right">$999.00</td>
                                                    
                                                </tr>
                                            </a>
                                            <%%>
                                        </tbody>
                                    </table>
								</div>                     
                            </div>
                        </div>
                    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

</html>
<!-- end document-->
