<!DOCTYPE html>
<html lang="en">
<body class="animsition">
    <%- include('sidebar_user'); %>
        <div class="page-container">
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>PAY MAINTENANCE</strong>                                        
                                    </div>
                                    <form class="form-header"  method="POST">
                                    <div class="card-body card-block">                                             
                                        <div class="form-group">
                                            <label for="city" class=" form-control-label">Maintenance Amount</label>
                                            <% data.forEach(function(res){
                                            %>
                                            <input type="text" name="maintenance_amount" class="form-control" value="<%=res.Maintenance%>" readonly>
                                        </div>                                    
                                        

                                        <div class="form-actions form-group">
                                            <a href="paymentpage"><button class="btn btn-primary btn-sm">Pay</button></a>
                                            <%})%>
                                        </div></form>
                                    </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="vendor/slick/slick.min.js">
    </script>
    <script src="vendor/wow/wow.min.js"></script>
    <script src="vendor/animsition/animsition.min.js"></script>
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="vendor/circle-progress/circle-progress.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="js/main.js"></script>

</body>

</html>
<!-- end document -->
